<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript">
//console.log("aaaa"+{{url_for('learn')}})
window.onload = function () {
var chart = new CanvasJS.Chart("chartContainer",
	{
        
      data: [
      {
        type: "bar",
        cursor:"pointer",
        click: onClick,          
        dataPoints: [
        { label: "Google", y: 85, href:"" },
        { label: "Bing", y: 15, href:"http://bing.com/"},
        { label: "Yahoo Search", y: 13, href:"http://search.yahoo.com/" },
        { label: "DuckDuckGo", y: 6, href:"http://www.duckduckgo.com/" },
        { label: "DogPile",y: 3,href: "{{ url_for('learn') }}"}  
	    ]
      }
      ]//href:{{ url_for('learn') }}
    });
	//sconsole.log("aaaa"+{{url_for('learn')}})
// <a href={{ url_for('learn') }}></a>
 chart.render();


function onClick(e){
     	console.log(e.dataPoint.href) 
        window.open(e.dataPoint.href,'_blank');  
};
}
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>
</html>